<div class="w-full p-5">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-4xl font-bold">Latest Posts</h1>
    <%= link_to 'Your Page', page_path(current_user.page), class: 'py-1 px-5 rounded-md bg-blue-400 text-white' %>
  </div>
  <div id="posts" class="min-w-full">
    <%= render @posts %>
  </div>
</div>
